# As this is the web client, there's not many environment variables to set - you probably won't have to change these.

# The URL at which the API is hosted. You probably won't have to change this - but if you want to test your client against the real API,
# you may change this to "https://api.lapse.hackclub.com" to access the real deal.
NEXT_PUBLIC_API_URL=http://localhost:3123

# These are used for Hackatime OAuth authentication. These both are exposed to the public - but if you want to
# use your own client, and you aren't a Hackatime super-admin, you'll probably need to host it locally...
NEXT_PUBLIC_HACKATIME_CLIENT_ID=s1Eken7aZWPdh2LuzyoEgiuGQs_3OOLdQuyhRDFNPtA
NEXT_PUBLIC_HACKATIME_URL=https://hackatime.hackclub.com

# This is related to Sentry - the error monitoring solution we use. In most cases, during development, you won't have to specify this.
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=
