# As this is the web client, there's not many environment variables to set - you probably won't have to change these.

# The URL at which the API is hosted. You probably won't have to change this - but if you want to test your client against the real API,
# you may change this to "https://api.lapse.hackclub.com" to access the real deal.
NEXT_PUBLIC_API_URL=http://localhost:3123

# The OAuth client ID for the canonical Lapse client. This should match the CANONICAL_OAUTH_CLIENT_ID on the server.
NEXT_PUBLIC_OAUTH_CLIENT_ID=svc_canonical

# This is related to Sentry - the error monitoring solution we use. In most cases, during development, you won't have to specify this.
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=
